---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Steps from '~/components/widgets/Steps.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'Brosur | PPDB SPEMDUTA',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    tagline="SMP Muhammadiyah 2 Taman"
    actions={[
      {
        variant: 'primary',
        text: 'Daftar Sekarang',
        href: 'https://smpmduta-ppdb.madinapay.id/auth',
        target: '_blank',
        icon: 'tabler:square-rounded-arrow-right',
      },
    ]}
    image={{ src: '~/assets/images/DSC05622.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"><b>SPEMDUTA</b></span>
      <br />
       The Humanistic and Futuristic School
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">SPEMDUTA</span> merupakan sekolah
      </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
       Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages
      & Blogs.
    </Fragment>
  </Hero2>

  <!-- Pricing Widget ******************* -->

  <Prices
    title="Program Kelas"
    subtitle="SMP Muhammadiyah 2 Taman"
    actions={[
      {
        variant: 'primary',
        text: 'Daftar Sekarang',
        href: 'https://www.ppdb.smpmduta.sch.id/',
        target: '_blank',
        icon: 'tabler:square-rounded-arrow-right',
      },
    ]}
    prices={[
      {
        title: 'Excellent Class',
        subtitle: 'lorem ipmsum dolar suit',
        image: { src: '~/assets/images/exel.png', alt: 'exellent image' },
        price: 1,
        period: 'per month',
        items: [
          {
            description: 'Science ',
          },
          {
            description: 'Technology',
          },
          {
            description: 'Art (Broadcasting)',
          },
          {
            description: 'Enterprenur Cooking',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: '#',
        },
      },
      {
        title: 'M-ICO',
        subtitle: 'lorem ipmsum dolar suit',
        image: { src: '~/assets/images/exel.png', alt: 'exellent image' },
        price: 2,
        period: 'Per Month',
        items: [
          {
            description: 'Public Speaking',
          },
          {
            description: 'Broadcasting and Show',
          },
          {
            description: 'Writing and Design ',
          },
          {
            description: 'English Olympiad',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'unggulan',
      },
      {
        title: 'Tahfidz Class',
        subtitle: 'lorem ipmsum dolar suit',
        image: { src: '~/assets/images/exel.png', alt: 'exellent image' },
        price: 3,
        period: 'Per Month',
        items: [
          {
            description: 'Qori’',
          },
          {
            description: 'Public Speaking / Pildacil',
          },
          {
            description: 'Khot / Kaligrafi',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: '#',
        },
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Alur Pendaftaran"
    subtitle="Calon Peserta Didik Baru SMP Muhammadiyah 2 Taman"
    items={[
      {
        title: 'Formulir <span class="font-medium">Pendaftaran</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:file-text',
      },
      {
        title: 'Interview <span class="font-medium">Calon Peserta Didik</em>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:messages',
      },
      {
        title: 'Pembiayaan <span class="font-medium">Daftar Ulang</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:coins',
      },
      {
        title: 'Pengambilan <span class="font-medium">Seragam</span>',
        icon: 'tabler:shirt',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
  />

  <Testimonials
    title="Ekstrakurikuler"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Emily Kennedy',
        job: 'Front-end developer',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Sarah Hansen',
        job: 'Photographer',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Mark Wilkinson',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Mark Wilkinson',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
  />
</Layout>
